{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Sellers | Admin Dashboard | WebCart </title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body class="bg-smoke">
    <div>
        <div class="admin-nav w-100 bg-primary">
            <div class="row container margin-auto">
                <div class="col-4">
                    <div class="text-center">
                        <h2 class="text-white">
                            New Sellers
                        </h2>
                    </div>
                </div>
                <div class="col-8">
                    <div class="text-right">
                        <a href="/logout/" class="logout-btn">Logout</a>
                    </div>
                </div>
            </div>
        </div>
        {% if count > 0 %}
            <div class="counter">
                <div class="row">
                    {% for seller in sellers %}
                    <div class="col-md-4 m-2">
                        <div class="bg-white p-2">
                            <div class="text-dark text-left bg-smoke m-2 p-1 rounded">
                                <b>Seller/ Company Name:</b> {{seller.company_name}}
                            </div>
                            <div class="text-dark text-left bg-smoke m-2 p-1 rounded">
                                <b>Seller Name: </b> {{seller.user.first_name}}
                            </div>
                            <div class="text-dark text-left bg-smoke m-2 p-1 rounded">
                                <b>Gstin:</b> {{seller.gstin}}
                            </div>
                            <div class="text-dark text-left bg-smoke m-2 p-1 rounded">
                                <b>Bank Account number:</b> {{seller.bank_account_num}}
                            </div>
                            <div class="text-dark text-left bg-smoke m-2 p-1 rounded">
                                <b>IFSC code: </b> {{seller.ifsc_code}}
                            </div>
                            <div class="text-dark text-left bg-smoke m-2 p-1 rounded">
                                <b>Phone: </b> {{seller.phone}}
                            </div>
                            <div>
                                <a href="/apis/seller/{{seller.id}}/change">
                                    View more
                                </a>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        {% else %}
            <div class="pt-5 pl-5 mt-5 ml-5">
                <div class="h5 text-danger">
                    No new sellers
                </div>
                <a href="{% url 'admin-dashboard' %}">Go back</a>
            </div>
        {% endif %}

    </div>
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
</body>
</html>