
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order {% if success %} Confirmed {% else %} failed {% endif %} | WebCart</title>
    <style>
        .orders-link a {
            color: #E91E63;
            font-size: 14px;
            font-weight: 500;
        }
        .font-success, .font-failed{
            font-size: 20px;
            font-weight: bold;
            color: #00c508;
            margin: 10px 0px;
        }
        .font-failed{
            color:grey !important;
        }
        .msg-container {
            padding: 10px;
            background: white;
            text-align: center;
            font-family: sans-serif;
            margin: 20% 0px;
        }
    </style>
</head>
<body>
    {% if success == True %}
<div class="msg-container">
    <div class="font-success">
        Your order placed successfully.
    </div>
    <div class="orders-link">
        <a href="http://localhost:4200/orders">Go to orders</a>
    </div>
</div>
{% else %}
<div class="msg-container">
    <div class="font-failed">
        Order Payment failed.
    </div>
    <div class="orders-link">
        <a href="http://localhost:4200">Go to website</a>
    </div>
</div>
{% endif %}
</body>
</html>