.admin-nav {
    padding: 15px 0px !important;
    box-shadow: 0px 0px 13px 2px #0000004f;
}
a:hover {
    text-decoration: none;
}
.card-item {
    cursor: pointer;
    margin: 20px;
    padding: 10px 25px;
    border-radius: 15px;
    box-shadow: 3px 3px 5px #00000021, -3px -3px 10px white, inset 3px 3px 10px #00000005;
}
.neu-shadow{
    box-shadow: 3px 3px 5px #00000021, -3px -3px 10px white, inset 3px 3px 10px #00000005;
}
.neu-shadow-2{
    box-shadow: inset 3px 3px 5px #0000002e, inset -3px -3px 10px 1px white, 3px 3px 5px #0000000d;
}
.counter{
    padding: 10px 5px;
    text-align: center;
    margin: 10px;
    border-radius: 25px;
}
.bg-smoke{
   background:#efefef !important;
}

.card-value{
    font-size: 38px;
}
.card-text{
    font-size: 13px;
    font-weight: 500;
}
.margin-auto{
    margin: auto !important;
}
.text-second{
    color:#E91E63;
}
.text-darkgreen {
    color: #009688;
}
.counter-text {
    font-size: 12px;
    font-weight: 500;
}
.counter-value {
    color: #3F51B5;
    font-size: 18px;
    font-weight: 600;
}
.logout-btn {
    background: white;
    padding: 6px 18px;
    border-radius: 50px;
    font-weight: 600;
    vertical-align: -webkit-baseline-middle;
    padding-bottom: 9px;
}
.revenue {
    margin: auto;
    font-weight: 500;
    padding: 10px;
    font-size: 23px;
    width: 50%;
    border-radius: 50px;
    border: 7px solid #ffffff75;
}
.big-card {
    margin: 20px;
    padding: 20px 15px;
    padding-bottom: 25px;
    text-align: center;
    border-radius: 25px;
    cursor: pointer;
}
.revenue-text {
    font-size: 17px;
    padding-bottom: 10px;
    font-weight: 500;
    color: #ff3078;
}
.card-item:active {
    box-shadow: 0px 0px transparent !important;
}