{% extends 'admin/base_site.html' %}

{% load static %}



{% block nav-global %}
    <h4>
        <a style="color: #ffffc8;font-size: 14px;" href="/admin-dashboard/">Dashboard</a>
    </h4>
{% endblock %}