{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard | WebCart </title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body class="bg-smoke">
    <div>
        <div class="admin-nav w-100 bg-primary">
            <div class="row container margin-auto">
                <div class="col-4">
                    <div class="text-center">
                        <h2 class="text-white">Admin Dashboard</h2>
                    </div>
                </div>
                <div class="col-8">
                    <div class="text-right">
                        <a href="/logout/" class="logout-btn">Logout</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="mt-4">
            <div class="row w-100 margin-auto">
                <div class="col-md-6">
                    <a href="{% url 'new-sellers' %}">
                        <div class="card-item bg-smoke">
                            <div class="card-text text-second ">
                                New Seller Requests
                            </div>
                            <div class="card-value text-second font-weight-bold">
                                {{ new_sellers }}
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-6">
                    <a href="http://127.0.0.1:8000/apis/alternateseller/">
                        <div class="card-item bg-smoke">
                            <div class="card-text text-primary">
                                New Alternate Seller Requests
                            </div>
                            <div class="card-value font-weight-bold text-primary">
                                {{ new_alt_sellers }}
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-6">
                    <a href="#">
                        <div class="card-item bg-smoke">
                            <div class="card-text text-darkgreen">
                                New Product Requests
                            </div>
                            <div class="card-value font-weight-bold text-darkgreen">
                                {{ new_products }}
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="mt-3">
                <div class="row margin-auto w-100">
                    <div class="col-2">
                        <div class="counter neu-shadow-2">
                            <div class="counter-value">
                                {{ approved_products }}
                            </div>
                            <div class="counter-text">
                                Approved Products
                            </div>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="counter neu-shadow-2">
                            <div class="counter-value">
                                {{ rejected_products }}
                            </div>
                            <div class="counter-text">
                                Rejected Products
                            </div>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="counter neu-shadow-2">
                            <div class="counter-value">
                                {{ alternate_sellers }}
                            </div>
                            <div class="counter-text">
                                Alternate Sellers
                            </div>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="counter neu-shadow-2">
                            <div class="counter-value">
                                {{ rejected_alt_sellers }}
                            </div>
                            <div class="counter-text">
                                Rejected Alternate Sellers
                            </div>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="counter neu-shadow-2">
                            <div class="counter-value">
                                {{ orders_in_progress }}
                            </div>
                            <div class="counter-text">
                                Orders in Progress
                            </div>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="counter neu-shadow-2">
                            <div class="counter-value">
                                {{ cancelled_orders }}
                            </div>
                            <div class="counter-text">
                                Cancelled Orderss
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mt-3">
                <div class="margin-auto row w-100">
                    <div class="col-md-6">
                        <div class="big-card revenue-card neu-shadow">
                            <div class="text-center revenue-text">
                                Revenue
                            </div>
                            <div class="revenue neu-shadow-2">
                                ₹ {{ revenue }} /-
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="big-card revenue-card neu-shadow">
                            <div class="text-center revenue-text">
                                Successful Orders
                            </div>
                            <div class="revenue neu-shadow-2">
                               {{ successful_orders }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
</body>
</html>